<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.SMU.PingItApp"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/customActionBarTheme" >
        <activity
            android:name="edu.SMU.PingItApp.MainScreenActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="edu.SMU.PingItApp.NewItemRegistrationActivity"
            android:label="@string/title_activity_new_item_registration"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="edu.SMU.PingItApp.FindTagActivity"
            android:label="@string/title_activity_find_tag" >
        </activity>
        <activity
            android:name="edu.SMU.PingItApp.AboutPageActivity"
            android:label="@string/title_activity_about_page" >
        </activity>
        <activity
            android:name="edu.SMU.PingItApp.WhereToBuyActivity"
            android:label="@string/title_activity_where_to_buy" >
        </activity>
        <activity
            android:name="edu.SMU.PingItApp.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
